sudo: false
cache:
  directories:
    - "$HOME/.m2"
language: java
before_script:
  - cd geowebcache
script:
  - mvn -B -U -T2 -fae clean install -Dtest.maxHeapSize=512M -Djava.awt.headless=true $ARGS
notifications:
  email:
    on_success: never
    on_failure: never
matrix:
  include:
    - jdk: oraclejdk8
      env: ARGS="-Dfmt.skip=true"
    - jdk: oraclejdk11
      env: ARGS="-Dfmt.skip=true"
    - jdk: oraclejdk11
      env: ARGS="-Dfmt.action=check -Ppmd -Perrorprone -DskipTests=true"

